{%extends 'idea_stream/_base.html'%}

{%block content%}
    <h1>Articles</h1>
    <a href="{% url 'article-create' %}">Create Article</a>
    {%if articles%}
        {%for article in articles%}
            <a href="{% url 'article-update' article.id %}">
                <h2>{{article.title}}</h2>
            </a>
            <p>{{article.content}}</p>
            <p>Status: {{article.status}}</p>
            <a href="{% url 'article-delete' article.id %}">Delete Article</a>
            <hr/>
        {%endfor%}
    {%else%}
        <h2>You have articles yet</h2>
    {%endif%}
{%endblock content%}